<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eunoia - Gift Boxes</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/2b1acec9b3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="./stylesheets/normalize.css" />
     <!-- Agrego para probar pop-up -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="jquery.cookie.js"></script>
    <!-- -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

</head>
<body>         
    <nav class="navbar" >
            <div class="max-width">
                <div class="mainheader-logo">
                    <div class="banner1">  ¿Buscas Cajas Empresariales Exclusivas? ¡Ponete en contacto aquí! </div> 
                        <br>
                        <ul class="menu">
                            <li><a href="#">Home   |</a></li>
                            <li><a href="#">About   |</a></li>
                            <li><a href="#">Productos   |</a></li>
                            <li><a href="#">Regalos Empresariales   |</a></li>
                            <li><a href="#">Arma tu Propia Caja de Regalos</a></li>
                        </ul>
                        <nav>
                        <div class="nav-logos">                   
                            <img><a href="#"><i class="fa-solid fa-user"></i></a></img>
                            <img><a href="/carrito"> <i class="fas fa-shopping-bag"></i> </a></img>    
                        </div>
                        <div class="buscador"> 
                            <input type="text" placeholder="Buscar en el Sitio" required>
                            <div class="btn-buscador">
                            <i class="fa fa-search"> </i>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
    </nav>  
                     <!--   Metodo abreviado para crear listas ul.menu>li*6>a  lo multiplico por la cantidad de elementos que quiero  -->
    <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>
    
        <!-- Home section start   -->
        <!-- Abreviado section.home#home  -->


        <!-- /*agrego para probar slider/* -->
        <!-- <section class ="banner-slider">
            <div class="banner-slider-content">
                <h1 class="bienvenida">Bienvenidos a Nuestra Tienda Online</h1>
            </div>
        </section> -->


        
     <section class="home" id="home">
            <div class="containerPortada">
                    <img src="../images/blanco-nuevp.jpg">
              
                <div class="home-content"> 
                <div class="text-1"> Encontra en Nuestra Tienda </div>
                <div class="text-2"> Regalos Exclusivos </div>
                <div class="contenedor-palabras">
                    <p class="para"> para </p>    
                <ul class="palabras">
                    <li>Empresas</li>
                    <li>Ellas</li>
                    <li>Ellos</li>
                    <li>Nacimientos</li>
                    <li>Fechas Especiales</li>
                    <li>Regalar<span style="color:#1F1F24">-se</span></li>
                </ul>  
            </div> 
            </div>
            </div></div>
     </section>
    </header>
    <br>
    <section class="frase-principal">
        <div class="cuadro-texto1">
             <p class="linea-1">Los regalos significativos tienen la capacidad de construir y transformar nuestras relaciones personales y comerciales</p>
             <p class="linea-2">Encontrar el regalo perfecto, que sea considerado, único y duradero, puede ser una tarea difícil. Como amantes de los elementos delicados, esenciales, y cotidianos, elegimos cuidadosamente productos que son hermosos, pero útiles, creyendo que estos pequeños lujos tienen la capacidad de inspirar nuestra vida cotidiana.</p> 
             <p class="linea-3">Envueltas a la perfección, todas y cada una de las cajas que salen de nuestra tienda son un regalo para recordar..</p>
       
            <div class="imagen-slider">

            </div> 
         </div>
    </section>
    <br>
      <section>
        <div class="row">
            <div class="img-container">
                <h1 class="categoria-name1">Listo para Regalar</h1>
                <p class="categoria-text1">La forma más rapida y sencilla de enviar regalos hermosos, únicos y útiles, envueltos a la perfección para sorprender. </p>
                <img src="../images/3.png">
            </div>
            <div class="img-container">
                <h1 class="categoria-name2">Cajas Personalizadas</h1>
                <p class="categoria-text2"> Diseñamos cada caja con creatividad. Buscando los productos más lindos y el packaging más hermoso disponibles, diseñamos regalos que nosotros (¡y vos!) quisiéramos recibir.  </p>
                <img src="../images/2.png">
            </div>
            <div class="img-container">
                <h1 class="categoria-name3">Cajas Empresariales</h1>
                <p class="categoria-text3">La forma más rapida y sencilla de enviar regalos bellos y únicos, envueltos delicadamente para sorprender </p>
                <img src="../images/1.png">
            </div>
        </div>
    </section>  
    <br>
    <br>
    <section class="banner4">
        Informacion  etc...
    </section>
    <br>
    <br>

    <section class="container_caja_personalizada">
        <div class="caja_personalizada">
            <img src="../images/oliva.jpg">
        </div>
        <div class="descricpion_caja_personalizada">
            <p>DESCRIPCION: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum soluta ut doloribus vero rerum incidunt sint labore rem ratione saepe! Ab aspernatur exercitationem architecto voluptate repellat omnis rerum. Architecto, nostrum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus soluta sed, consectetur nisi earum velit quidem dolorum nesciunt debitis hic facilis rem ut praesentium, possimus rerum numquam quo impedit minus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur aspernatur eligendi nihil ipsa ullam iste, obcaecati provident eveniet nemo tempore voluptate, deleniti amet consectetur illum ipsum voluptates rerum tenetur molestias.</p>
        </div>
        <br>        
    </section>
    <br>
    <section class="container_caja_personalizada">
        <div class="descricpion_caja_personalizada">
            <p>DESCRIPCION: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum soluta ut doloribus vero rerum incidunt sint labore rem ratione saepe! Ab aspernatur exercitationem architecto voluptate repellat omnis rerum. Architecto, nostrum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus soluta sed, consectetur nisi earum velit quidem dolorum nesciunt debitis hic facilis rem ut praesentium, possimus rerum numquam quo impedit minus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur aspernatur eligendi nihil ipsa ullam iste, obcaecati provident eveniet nemo tempore voluptate, deleniti amet consectetur illum ipsum voluptates rerum tenetur molestias.</p>
        </div>
        <div class="caja_personalizada">
            <img src="../images/choco.jpg">
        </div>
        <br>        
    </section>
    <br>
    <!-- Suscripcion-->
    <section>
        <div class="suscripcion">
    
            <div class="suscripcion_banner">
                <p>Suscribite a nuestra página</p>
            </div>
            <div class="suscripciones_correo">
                <input type="email" id="email" name="email">
                <input type="Submit">
            </div>
        
        </div>
    </section>
    <br>
    <form action="/crear-producto" method="post" class="create-producto">
        <div class="campos-formulario">
            <label> Nombre del Producto: </label>
             <input type="text" name="name-product" class="campos-de-relleno">
        </div>
        <div  class="campos-formulario">
            <label>Categoria Principal</label>
            <select name="categoria-p" class="campos-de-relleno">
                 <option value="hogar">Hogar</option>
                <option value="accesorios">Accesorios</option>
                option value="alimentos y bebidas">Alimentos - Bebidas</option>
                <option value="bebe">Nacimientos</option>
             </select>
        </div>
        <div  class="campos-formulario">
            <label> Precio: </label>
             <input type="number" name="price" class="campos-de-relleno">
        </div>
         <div  class="campos-formulario">
             <label> Stock: </label>
             <input type="number" name="stock" class="campos-de-relleno">
        </div>
        <div  class="campos-formulario">
             <label>Descripcion del Producto</label> 
            <textarea name="descripcionProducto" class="campos-de-relleno"></textarea>
        </div>
         <button type="reset" class="botones-form">Borrar</button>
         <button type="submit"class="botones-form">Guardar</button>
</form>
    <br>
    <footer class="copyright">
        <p> © 2022 Eunoia - Gift Boxes | All Rights Reserved </p>
    </footer>
    <!-- <script src="../script.js"> -->
  
   </body>  
</html>