<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/forms.css"> 
    <title>Document</title>
</head>
<body>
    <form action="" method= "POST" id="form"> </form>
    <div class="form">
        <h1> Registro de Usuario</h1>
        <div class= "grupo">
            <input type ="text" name="" id="name" required> <span class="barra"></span>
            <label for=""> Nombre y Apellido</label>
        </div>
        <div class= "grupo">
            <input type ="tel" name="" id="name" required> <span class="barra"></span>
            <label for=""> Celular </label>
        </div>
        <div class= "grupo">
            <input type ="email" name="" id="name" required> <span class="barra"></span>
            <label for=""> Email </label>
        </div>
        <div class= "grupo">
            <input type ="password" name="" id="name" required> <span class="barra"></span>
            <label for=""> Contraseña </label>
        </div>
        <button type="submit"> Registrate </button>
    </div>
</body>
</html>