
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-background
{
    height: 100vw;
	width: 200vh;
	position: relative;
    opacity: 98%;
    margin: 0;
    padding: 0;
    align-items: center;
    left: 40vw;
    top: 10vh;
}
/*.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
nav ul li button
{
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
a
{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
} */
#login-form
{
    display: none;
    background-color: rgba(0,0,0, 0.5) !important;
    position: absolute;
    left: 0;
    right: 20px;
    }
   
.form-box
{
    width:25vw;
	height:70vh;
	position:relative;
	margin:10px;
	background:#F5F5F5;
	padding:10px;
    overflow: hidden;
    opacity:unset;
    align-content: center;
    right: 50px;
    /* ver como y donde añadir sombra */
    box-shadow: 0px 8px 6px -8px #302f2f;

}

.change-a{
    position: absolute;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: center;
    width: 100%;
    top:115%;
    left: 10px;
    align-items: center;
    
}
.opcion-a{
    position: absolute;
    font-size: 15px;
    color: #212121;
    font-family:Raleway,sans-serif;
    justify-content: center;
    left: 0;
    align-items: center;
 }

 .change-b{
    position: absolute;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: center;
    width: 100%;
    top:110%;
    left: 0 px;
    align-items: center;
    
}
.opcion-b{
    position: absolute;
    font-size: 15px;
    color: #212121;
    font-family:Raleway,sans-serif;
    justify-content: center;
    left: 0;
    align-items: center;
 }
/* .button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	border-radius: 30px;
} */
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
    color: #757575;
    font-family:Raleway,sans-serif ;
    font-weight: 800;
    right: 0px;
    left: 140px; 
    font-size: 17px;
    align-items: center;
}
.toggle-btn:hover
{
    color: #212121;
    
}
#btn
{
	top: 0;
	left:20px;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 180px;
	position:absolute;
	width:280px;
	transition:.5s;
    font-family: Raleway,sans-serif;
}

.input-group-register
{
    top: 80px;
	position:absolute;
	width:280px;
	transition:.5s;
    font-family: Raleway,sans-serif;
}

.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
    font-family: Raleway,sans-serif;
}

 /* .opcionCrear{
    width: 100%;
	padding:0;
	border-left:0;
	border-top:0;
	border-right:0;
	outline:none;
	background: transparent;
    color: black;
    font-family: Raleway,sans-serif;;
} */
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #9E9E9E;
	border: 0;
	outline: none;
	border-radius: 30px;
    font-family: Raleway,sans-serif;
    cursor: pointer;
}

.submit-btn:hover
{
    background-color: #D2C2B0;
}

.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:relative;
    top:-2px;
    margin:0;
    bottom: 50px;
}
#login
{
	left:50px;
    font-family: Raleway,sans-serif;
}

#login input
{
	color:#1F1F24;
	font-size:15;
    font-family: Raleway,sans-serif;
}

#register
{
	left:450px;
    font-family: Raleway,sans-serif;
}
#register input
{
	color:#1F1F24;
	font-size: 15;
    font-family: Raleway,sans-serif;
}
