*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#login-form
{
    position:fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; 
}
main{
    width: auto;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    position: fixed;;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position:sticky;
    margin-top: 15vh;
    display: block;
}

.caja__trasera{
    width: 800px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-image: url(/images/5.svg) ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:inherit;
    opacity: 95%;
    align-items: center; 
    -webkit-box-shadow: 0px 10px 13px -7px #000000, inset -22px -2px 29px -30px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, inset -22px -2px 29px -30px rgba(0,0,0,0);
    border-radius: 5px;
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight:600;
    font-size: 26px;
    font-family: Raleway,sans-serif;

}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
    font-family: Raleway,sans-serif;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    font-family: Raleway,sans-serif;
}

.caja__trasera button:hover{
    background: #D1C1AF;
    color: black;
    border: black;
}

.contenedor__login-register form button:hover{
    border: none;
    font-size: 14px;
    background: #757575;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;


    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 100px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
    font-family: Raleway,sans-serif;
    margin-bottom: 8%;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-family: Raleway,sans-serif;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #E1DBD3;
    font-size: 16px;
    outline: none;
    font-family: Raleway,sans-serif;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 30px;
    border: none;
    font-size: 14px;
    background: black;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    font-family: Raleway,sans-serif;
}




.formulario__login{
    opacity: 1;
    display: block;
    padding: 110px, 20px;
}
.formulario__register{
    display: none;
    padding: 150px,2px;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 10px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}



